// LAYOUT

layout {
    gaps 10

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        width 1

        active-gradient from="#e4963cff" to="#795022ff" angle=45
        inactive-color "#505050"
    }

    background-color "transparent"
}

// ANIMATIONS

animations {

}

// BLUR SETTINGS

blur {
    passes 3
    offset 3
    noise 0.02
    saturation 1.5
}

// ROUNDED CORNERS

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

// BLUR ON WINDOWS

window-rule {
    match app-id=r#"^(brave-browser|vesktop|codium|spotify|org\.gnome\.Nautilus|org.pulseaudio.pavucontrol|org.prismlauncher.PrismLauncher|Bitwarden|com.obsproject.Studio|io.missioncenter.MissionCenter)$"#

    draw-border-with-background false // removes the rectangle (focus ring) from apps
    opacity 0.9

    background-effect {
        blur true
        xray false
        noise 0.02
        saturation 1
    }
}

// CURSOR THEME

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24

    hide-when-typing
    hide-after-inactive-ms 1000
}


// OVERVIEW SETTINGS

overview {
    workspace-shadow {
        off
    }
    zoom 0.80
}

// DISABLE WINDOW DECORATIONS

prefer-no-csd
