  /////////////////////
 /////   RULES   /////
/////////////////////

window-rule { // Hide password manager(s) from screen capture
    match app-id=r#"^Bitwarden$"#

    block-out-from "screen-capture"
}

layer-rule { // Move the wallpaper to the overview
    match namespace="^wallpaper$"
    place-within-backdrop true
}

window-rule { // Open bitwarden-extension in floating mode
    match app-id=r#"^brave-nngceckbapebfimnlniiiahkandclblb-Default$"#
    open-floating true
    block-out-from "screen-capture"
}

window-rule { // VRR for games
    match app-id=r#"^games here$"#
    variable-refresh-rate true
}